<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
                <span class="sr-only"> </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BizWeb</a>
        </div>
        <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">
            <ul class="nav navbar-nav" *ngIf="isManager">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/']" type="button" class="btn">{{ 'HEADER-MENU.HOME' | translate }}</a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dealer']" type="button" class="btn">{{ 'HEADER-MENU.DEALERS' | translate }}</a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/department']" type="button" class="btn">{{ 'HEADER-MENU.DEPARTMENTS' | translate }}</a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/upload']" type="button" class="btn">{{ 'HEADER-MENU.UPLOAD' | translate }}</a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/models']" type="button" class="btn">{{ 'HEADER-MENU.MODELS' | translate }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/login']" class="btn">
                        <span class="glyphicon glyphicon-log-out"></span> {{ 'HEADER-MENU.LOG_OUT' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>