.list-group {
    float: none;
    &-item {
        margin: 0 0 20px;
        padding: 0;
        border: 1px solid #2b3c71;
        p {
            padding: 10px;
            background-color: #2b3c71;
            margin: 0;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;
        }
        ul {
            padding: 20px 10px;
            margin: 0;
            li {
                border: none;
                margin: 20px 0 0;
                border-left: 4px solid #2b3c71;
                background: #fdfdfd;
                padding: 10px;
                border-radius: 0;
                &:first-child {
                    margin: 0;
                }
                p {
                    background: none;
                    padding: 0;
                    margin: 0 0 10px;
                    font-weight: 700;
                    color: #333;
                    text-transform: uppercase;
                }
                ul {
                    padding: 0;
                    li {
                        padding: 0;
                        margin: 0;
                        border: none;
                        p {
                            text-transform: none;
                            font-weight: 400;
                            a {
                                color: #2b3c71;
                            }
                        }
                    }
                }
            }
        }
    }
}
