<app-header-menu></app-header-menu>

<div class="b-actions">

  <div class="row">

    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item show-cursor-pointer" *ngFor="let dlr of models; let i = index;">

          <p (click)="setToggleVar('' + i);" [ngClass]="{ 'bg-red': !dlr.departments.length }" class="dealer-title">{{dlr.name}}</p>
          <ul class="list-group" [ngClass]="{'display-none': !isClassVisibleObject[('' + i)] }">

            <li class="list-group-item" *ngFor="let dprt of dlr.departments; let j = index;" [ngClass]="{'show-cursor-default': !dprt.depbizs.length }">

              <p (click)="setToggleVarInner('' + i + j);" [ngClass]="{ 'color-red': !dprt.depbizs.length }">{{dprt.name}}</p>
              <ul class="list-group" [ngClass]="{'display-none': !isClassVisibleInnerObject[('' + i + j)] }">

                <li class="list-group-item" *ngFor="let dpbz of dprt.depbizs | arrayOrderBy : 'ordernumber'">

                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <p><a [attr.href]="'/m/' + dpbz.biz.slug" target="_blank">{{ dpbz.biz.name }}</a></p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <p class=show-cursor-default>{{ dpbz.notes }}</p>
                    </div>
                  </div>

                </li>
              </ul>

            </li>
          </ul>

        </li>
      </ul>
    </div>

  </div>
</div>
