<app-header-menu></app-header-menu>

<!-- https://valor-software.com/ng2-bootstrap/#/alerts -->
<div class="b-actions">

  <div class="row">
    <div class="col-sm-6 center-block">
      <alert *ngIf="loadingInProgress" type="info">
        <div class="row">
          <div class="col-sm-6">
            {{ 'SHARED.LOADING' | translate }}
          </div>
          <div class="col-sm-6">
            <div class="pull-right" role="group">
              <div (click)="showError=false" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
              </div>
            </div>
          </div>
        </div>
      </alert>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 center-block">
      <alert *ngIf="showError" type="danger">
        <div class="row">
          <div class="col-sm-6">
            {{ errorMsg.code }} {{ errorMsg.message }}
          </div>
          <div class="col-sm-6">
            <div class="pull-right" role="group">
              <div (click)="showError=false" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
              </div>
            </div>
          </div>
        </div>
      </alert>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 center-block">
      <alert *ngIf="showSuccess" type="success">
        <div class="row">
          <div class="col-sm-6">
            {{ 'SHARED.SUCCESS' | translate }}
          </div>
          <div class="col-sm-6">
            <div class="pull-right" role="group">
              <div (click)="showSuccess=false" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
              </div>
            </div>
          </div>
        </div>
      </alert>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form name="form" (ngSubmit)="f.form.valid && addModel(fileupload, uType)" #f="ngForm" novalidate>

        <input type="hidden" class="form-control" name="_id" [(ngModel)]="model._id" #_id="ngModel" />

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
          <input type="text" class="form-control" name="name" placeholder="{{ 'SHARED.NAME' | translate }}" [(ngModel)]="model.name"
            #name="ngModel" required />
          <div [ngClass]="{'is-visible': f.submitted && !name.valid }" class="help-block not-visible">{{ 'SHARED.NAME_REQUIRED' | translate }}</div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="notes" placeholder="{{ 'BIZ.NOTES' | translate }}" [(ngModel)]="model.notes"
            #name="ngModel" />
        </div>

        <div class="form-group">
          <label>{{ 'BIZ.TYPE' | translate }}</label>
          <select name="uType" #uType class="form-control">
            <option></option>
            <option *ngFor="let uploadType of uploadTypes" [value]="uploadType.value">{{uploadType.display}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="file">{{ 'BIZ.FILE' | translate }}</label>
          <div class="upload-file">
            <input type="file" #fileupload name="file">
          </div>
        </div>

        <div class="form-group">
          <button [disabled]="loadingInProgress" class="btn btn-primary">{{ 'BIZ.UPLOAD' | translate }}</button>
          <button [disabled]="loadingInProgress" type="reset" class="btn btn-danger" (click)="resetModel()">{{ 'SHARED.RESET' | translate }}</button>
        </div>

      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let m of models">
          <div class="row">

            <div class="col-sm-3">
              {{m.name}}
            </div>

            <div class="col-sm-3">
              /m/{{m.slug}}
            </div>

            <div class="col-sm-3">
              {{formatDate(m.createdAt)}} {{m.notes}}
            </div>

            <div class="col-sm-3">
              <div class="pull-right" role="group">
                <button [disabled]="loadingInProgress" class="btn btn-danger btn-xs" (click)="removeModel(m._id)"><span class="glyphicon glyphicon-trash"></span></button>
                <span>&nbsp;&nbsp;</span>
                <a [attr.href]="'/m/' + m.slug" target="_blank" class="btn btn-primary btn-xs">
                  <span class="glyphicon glyphicon-link"></span> LINK
                </a>
              </div>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
